In [2]:
import pandas as pd

In [3]:
data = pd.read_json("./data/events/19714.json")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 35 columns):
id                 3491 non-null object
index              3491 non-null int64
period             3491 non-null int64
timestamp          3491 non-null datetime64[ns]
minute             3491 non-null int64
second             3491 non-null int64
type               3491 non-null object
possession         3491 non-null int64
possession_team    3491 non-null object
play_pattern       3491 non-null object
team               3491 non-null object
duration           2632 non-null float64
tactics            12 non-null object
related_events     3215 non-null object
player             3471 non-null object
position           3471 non-null object
location           3461 non-null object
pass               947 non-null object
carry              771 non-null object
under_pressure     620 non-null float64
ball_receipt       177 non-null object
counterpress       127 non-null float64
dribble            26 non-null object
ball_recovery      8 non-null object
shot               31 non-null object
goalkeeper         35 non-null object
interception       18 non-null object
foul_committed     6 non-null object
duel               51 non-null object
50_50              4 non-null object
off_camera         43 non-null float64
foul_won           3 non-null object
substitution       6 non-null object
block              2 non-null object
clearance          1 non-null object
dtypes: datetime64[ns](1), float64(4), int64(5), object(25)
memory usage: 954.7+ KB

In [5]:
data.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,interception,foul_committed,duel,50_50,off_camera,foul_won,substitution,block,clearance
0,caa84999-ca96-408d-93b5-c8f74d832237,1,1,2019-11-19 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9fffa92c-6397-4dd4-9ff4-5c560bd84e53,2,1,2019-11-19 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,906917ac-7840-41cf-9e76-17df27d3edb3,3,1,2019-11-19 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,430a8774-f8e7-4691-a0fd-4eeb0491d5d0,4,1,2019-11-19 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,883510b1-40a0-49be-a590-ab2f1dcc6bdf,5,1,2019-11-19 00:00:00.903,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN