In [1]:
import pandas as pd 
import numpy as np

In [2]:
event_data = pd.read_json("../open-data/data/events/19714.json")

In [3]:
event_data.dtypes

id                         object
index                       int64
period                      int64
timestamp          datetime64[ns]
minute                      int64
second                      int64
type                       object
possession                  int64
possession_team            object
play_pattern               object
team                       object
duration                  float64
tactics                    object
related_events             object
player                     object
position                   object
location                   object
pass                       object
carry                      object
under_pressure            float64
ball_receipt               object
counterpress              float64
dribble                    object
ball_recovery              object
shot                       object
goalkeeper                 object
interception               object
foul_committed             object
duel                       object
50_50                      object
off_camera                float64
foul_won                   object
substitution               object
block                      object
clearance                  object
dtype: object

In [4]:
event_data.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3491 entries, 0 to 3490
Data columns (total 35 columns):
id                 3491 non-null object
index              3491 non-null int64
period             3491 non-null int64
timestamp          3491 non-null datetime64[ns]
minute             3491 non-null int64
second             3491 non-null int64
type               3491 non-null object
possession         3491 non-null int64
possession_team    3491 non-null object
play_pattern       3491 non-null object
team               3491 non-null object
duration           2632 non-null float64
tactics            12 non-null object
related_events     3215 non-null object
player             3471 non-null object
position           3471 non-null object
location           3461 non-null object
pass               947 non-null object
carry              771 non-null object
under_pressure     620 non-null float64
ball_receipt       177 non-null object
counterpress       127 non-null float64
dribble            26 non-null object
ball_recovery      8 non-null object
shot               31 non-null object
goalkeeper         35 non-null object
interception       18 non-null object
foul_committed     6 non-null object
duel               51 non-null object
50_50              4 non-null object
off_camera         43 non-null float64
foul_won           3 non-null object
substitution       6 non-null object
block              2 non-null object
clearance          1 non-null object
dtypes: datetime64[ns](1), float64(4), int64(5), object(25)
memory usage: 954.7+ KB

In [5]:
def get_dict_names(col,df):
    pass_keys = []
    for row in df[col]:
        if type(row) == dict:
            pass_keys.extend(list(row.keys()))
    return {key:[] for key in set(pass_keys)}

In [6]:
def unwrap_col(col, df):
    drop_col = []
    keys_dict = get_dict_names(col,df)
    for row in df[col]: 
        for key in keys_dict:
            if type(row) == dict:
                drop_col.append(col)
                if key in row:
                    keys_dict[key].append(row[key])
                else: 
                    keys_dict[key].append("")
            else: 
                keys_dict[key].append("")
    return pd.DataFrame(keys_dict).rename(columns = {key:f'{col}_{key}' for key in keys_dict}), list(set(drop_col))

In [7]:
event_data

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,interception,foul_committed,duel,50_50,off_camera,foul_won,substitution,block,clearance
0,caa84999-ca96-408d-93b5-c8f74d832237,1,1,2019-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9fffa92c-6397-4dd4-9ff4-5c560bd84e53,2,1,2019-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,906917ac-7840-41cf-9e76-17df27d3edb3,3,1,2019-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,430a8774-f8e7-4691-a0fd-4eeb0491d5d0,4,1,2019-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,883510b1-40a0-49be-a590-ab2f1dcc6bdf,5,1,2019-11-28 00:00:00.903,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3486,71a089de-2fcc-46a7-96e4-d470da0037d3,3487,2,2019-11-28 00:49:25.587,94,25,"{'id': 16, 'name': 'Shot'}",226,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 3, 'name': 'From Free Kick'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3487,7e972c3f-4a6a-41fa-bf04-afa2867538ba,3488,2,2019-11-28 00:49:26.026,94,26,"{'id': 6, 'name': 'Block'}",226,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 3, 'name': 'From Free Kick'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3488,ffc366c5-35c0-45f5-9b66-f0d94fc45885,3489,2,2019-11-28 00:49:26.573,94,26,"{'id': 23, 'name': 'Goal Keeper'}",226,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 3, 'name': 'From Free Kick'}",...,"{'end_location': [13.0, 40.0], 'position': {'i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3489,e76aee8d-5bbc-43a7-ae07-04867575d7c8,3490,2,2019-11-28 00:49:29.284,94,29,"{'id': 34, 'name': 'Half End'}",226,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 3, 'name': 'From Free Kick'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,259ca032-b1b3-4e8e-b213-182333989007,3491,2,2019-11-28 00:49:29.284,94,29,"{'id': 34, 'name': 'Half End'}",226,"{'id': 971, 'name': 'Chelsea FCW'}","{'id': 3, 'name': 'From Free Kick'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
list(event_data.columns)

['id',
 'index',
 'period',
 'timestamp',
 'minute',
 'second',
 'type',
 'possession',
 'possession_team',
 'play_pattern',
 'team',
 'duration',
 'tactics',
 'related_events',
 'player',
 'position',
 'location',
 'pass',
 'carry',
 'under_pressure',
 'ball_receipt',
 'counterpress',
 'dribble',
 'ball_recovery',
 'shot',
 'goalkeeper',
 'interception',
 'foul_committed',
 'duel',
 '50_50',
 'off_camera',
 'foul_won',
 'substitution',
 'block',
 'clearance']

In [9]:
import os

In [10]:
files = os.listdir('../open-data/data/events/')

full_df = pd.concat([pd.read_json(f'../open-data/data/events/{file}') for file in files], sort = False, ignore_index = True)

In [11]:
full_df.shape

(2274242, 42)

In [12]:
set(full_df.columns)- set(event_data.columns)

{'bad_behaviour',
 'half_end',
 'half_start',
 'injury_stoppage',
 'miscontrol',
 'out',
 'player_off'}

In [13]:
full_df.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,substitution,injury_stoppage,block,bad_behaviour,out,miscontrol,50_50,half_start,half_end,player_off
0,92f7b2d2-d048-4bbc-b8ff-67dcfc328fb2,1,1,2019-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e61277b1-87a1-40e5-becc-dd727c821920,2,1,2019-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bfcb5195-fef1-4078-b76a-2240dcdb78d7,3,1,2019-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,503d06c8-5441-43b3-9aa5-7ea68ecabad2,4,1,2019-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 974, 'name': 'Reading WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4b92ae51-2702-4d07-a9e3-848fa1170cb3,5,1,2019-11-28 00:00:00.080,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 974, 'name': 'Reading WFC'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
def unpack_df(df):
    cols_left = df.shape[1]
    cols_drop = []
    for col in df:
        print(f'{cols_left} Columns Left to Unpack.')
        new_df, drop_col = unwrap_col(col, df)
        temp_dict = {}
        for sub_col in new_df:
            temp_dict[sub_col], drop_sub_col = unwrap_col(sub_col, new_df)
            cols_drop.extend(drop_sub_col)
        for sub_col in temp_dict:
            new_df = new_df.join(temp_dict[sub_col])
        df = df.join(new_df)
        cols_drop.extend(drop_col)
        cols_left -= 1
    print('Unpacking Complete')
    df.drop(columns = cols_drop, inplace = True)
    return df

In [15]:
full_df = unpack_df(full_df)

42 Columns Left to Unpack.
41 Columns Left to Unpack.
40 Columns Left to Unpack.
39 Columns Left to Unpack.
38 Columns Left to Unpack.
37 Columns Left to Unpack.
36 Columns Left to Unpack.
35 Columns Left to Unpack.
34 Columns Left to Unpack.
33 Columns Left to Unpack.
32 Columns Left to Unpack.
31 Columns Left to Unpack.
30 Columns Left to Unpack.
29 Columns Left to Unpack.
28 Columns Left to Unpack.
27 Columns Left to Unpack.
26 Columns Left to Unpack.
25 Columns Left to Unpack.
24 Columns Left to Unpack.
23 Columns Left to Unpack.
22 Columns Left to Unpack.
21 Columns Left to Unpack.
20 Columns Left to Unpack.
19 Columns Left to Unpack.
18 Columns Left to Unpack.
17 Columns Left to Unpack.
16 Columns Left to Unpack.
15 Columns Left to Unpack.
14 Columns Left to Unpack.
13 Columns Left to Unpack.
12 Columns Left to Unpack.
11 Columns Left to Unpack.
10 Columns Left to Unpack.
9 Columns Left to Unpack.
8 Columns Left to Unpack.
7 Columns Left to Unpack.
6 Columns Left to Unpack.
5 Columns Left to Unpack.
4 Columns Left to Unpack.
3 Columns Left to Unpack.
2 Columns Left to Unpack.
1 Columns Left to Unpack.
Unpacking Complete

In [16]:
full_df.head()

,id,index,period,timestamp,minute,second,possession,duration,related_events,location,...,block_deflection,block_offensive,bad_behaviour_card_id,bad_behaviour_card_name,miscontrol_aerial_won,50_50_outcome_id,50_50_outcome_name,half_start_late_video_start,half_end_early_video_end,player_off_permanent
0,92f7b2d2-d048-4bbc-b8ff-67dcfc328fb2,1,1,2019-11-28 00:00:00.000,0,0,1,0.0000,NaN,NaN,...,,,,,,,,,,
1,e61277b1-87a1-40e5-becc-dd727c821920,2,1,2019-11-28 00:00:00.000,0,0,1,0.0000,NaN,NaN,...,,,,,,,,,,
2,bfcb5195-fef1-4078-b76a-2240dcdb78d7,3,1,2019-11-28 00:00:00.000,0,0,1,0.0000,[503d06c8-5441-43b3-9aa5-7ea68ecabad2],NaN,...,,,,,,,,,,
3,503d06c8-5441-43b3-9aa5-7ea68ecabad2,4,1,2019-11-28 00:00:00.000,0,0,1,0.0000,[bfcb5195-fef1-4078-b76a-2240dcdb78d7],NaN,...,,,,,,,,,,
4,4b92ae51-2702-4d07-a9e3-848fa1170cb3,5,1,2019-11-28 00:00:00.080,0,0,2,1.7322,[e39d5015-8ff8-429e-949f-a7d27bfd8de5],"[60.0, 40.0]",...,,,,,,,,,,

In [17]:
full_df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'related_events', 'location',
       ...
       'block_deflection', 'block_offensive', 'bad_behaviour_card_id',
       'bad_behaviour_card_name', 'miscontrol_aerial_won', '50_50_outcome_id',
       '50_50_outcome_name', 'half_start_late_video_start',
       'half_end_early_video_end', 'player_off_permanent'],
      dtype='object', length=149)

In [18]:
teams = set(full_df['possession_team_name'])

In [19]:
teams_left = len(teams)
print(f'We will need to make {teams_left} data CSV files')
for team in teams:
    team_df = full_df[full_df['possession_team_name'] == team]
    team_df.to_csv(f'../open-data/data/teams/{team}_data.csv', index = False)
    print(f'{team} data file has been created.')
    teams_left -= 1 
    print(f'There are {teams_left} CSV files to create.')
    print('=================================\n')

We will need to make 117 data CSV files
Russia data file has been created.
There are 116 CSV files to create.
=================================

Málaga data file has been created.
There are 115 CSV files to create.
=================================

Serbia data file has been created.
There are 114 CSV files to create.
=================================

South Korea data file has been created.
There are 113 CSV files to create.
=================================

Brazil Women's data file has been created.
There are 112 CSV files to create.
=================================

Houston Dash data file has been created.
There are 111 CSV files to create.
=================================

Osasuna data file has been created.
There are 110 CSV files to create.
=================================

Mexico data file has been created.
There are 109 CSV files to create.
=================================

Everton LFC data file has been created.
There are 108 CSV files to create.
=================================

Almería data file has been created.
There are 107 CSV files to create.
=================================

Japan Women's data file has been created.
There are 106 CSV files to create.
=================================

Morocco data file has been created.
There are 105 CSV files to create.
=================================

Germany data file has been created.
There are 104 CSV files to create.
=================================

Peru data file has been created.
There are 103 CSV files to create.
=================================

Norway Women's data file has been created.
There are 102 CSV files to create.
=================================

Chicago Red Stars data file has been created.
There are 101 CSV files to create.
=================================

Yeovil Town LFC data file has been created.
There are 100 CSV files to create.
=================================

Jamaica Women's data file has been created.
There are 99 CSV files to create.
=================================

Deportivo Alavés data file has been created.
There are 98 CSV files to create.
=================================

Manchester City WFC data file has been created.
There are 97 CSV files to create.
=================================

Albacete data file has been created.
There are 96 CSV files to create.
=================================

Egypt data file has been created.
There are 95 CSV files to create.
=================================

Seattle Reign data file has been created.
There are 94 CSV files to create.
=================================

Real Sociedad data file has been created.
There are 93 CSV files to create.
=================================

Switzerland data file has been created.
There are 92 CSV files to create.
=================================

Senegal data file has been created.
There are 91 CSV files to create.
=================================

Canada Women's data file has been created.
There are 90 CSV files to create.
=================================

Recreativo Huelva data file has been created.
There are 89 CSV files to create.
=================================

West Ham United LFC data file has been created.
There are 88 CSV files to create.
=================================

South Africa Women's data file has been created.
There are 87 CSV files to create.
=================================

Spain Women's data file has been created.
There are 86 CSV files to create.
=================================

Liverpool WFC data file has been created.
There are 85 CSV files to create.
=================================

Iceland data file has been created.
There are 84 CSV files to create.
=================================

Rayo Vallecano data file has been created.
There are 83 CSV files to create.
=================================

Sky Blue FC data file has been created.
There are 82 CSV files to create.
=================================

Xerez data file has been created.
There are 81 CSV files to create.
=================================

Poland data file has been created.
There are 80 CSV files to create.
=================================

Saudi Arabia data file has been created.
There are 79 CSV files to create.
=================================

Bristol City WFC data file has been created.
There are 78 CSV files to create.
=================================

Racing Santander data file has been created.
There are 77 CSV files to create.
=================================

Chelsea LFC data file has been created.
There are 76 CSV files to create.
=================================

Birmingham City WFC data file has been created.
There are 75 CSV files to create.
=================================

Iran data file has been created.
There are 74 CSV files to create.
=================================

Real Valladolid data file has been created.
There are 73 CSV files to create.
=================================

Spain data file has been created.
There are 72 CSV files to create.
=================================

Cádiz data file has been created.
There are 71 CSV files to create.
=================================

Athletic Bilbao data file has been created.
There are 70 CSV files to create.
=================================

Tunisia data file has been created.
There are 69 CSV files to create.
=================================

Levante data file has been created.
There are 68 CSV files to create.
=================================

Sweden data file has been created.
There are 67 CSV files to create.
=================================

Numancia data file has been created.
There are 66 CSV files to create.
=================================

Belgium data file has been created.
There are 65 CSV files to create.
=================================

Reading WFC data file has been created.
There are 64 CSV files to create.
=================================

France data file has been created.
There are 63 CSV files to create.
=================================

Atlético Madrid data file has been created.
There are 62 CSV files to create.
=================================

Portugal data file has been created.
There are 61 CSV files to create.
=================================

Córdoba data file has been created.
There are 60 CSV files to create.
=================================

Argentina data file has been created.
There are 59 CSV files to create.
=================================

Nigeria data file has been created.
There are 58 CSV files to create.
=================================

Brighton & Hove Albion WFC data file has been created.
There are 57 CSV files to create.
=================================

Celta Vigo data file has been created.
There are 56 CSV files to create.
=================================

Portland Thorns data file has been created.
There are 55 CSV files to create.
=================================

Japan data file has been created.
There are 54 CSV files to create.
=================================

Australia Women's data file has been created.
There are 53 CSV files to create.
=================================

Elche data file has been created.
There are 52 CSV files to create.
=================================

Korea Republic Women's data file has been created.
There are 51 CSV files to create.
=================================

Granada data file has been created.
There are 50 CSV files to create.
=================================

England Women's data file has been created.
There are 49 CSV files to create.
=================================

Scotland Women's data file has been created.
There are 48 CSV files to create.
=================================

Real Madrid data file has been created.
There are 47 CSV files to create.
=================================

Chelsea FCW data file has been created.
There are 46 CSV files to create.
=================================

Costa Rica data file has been created.
There are 45 CSV files to create.
=================================

Hércules data file has been created.
There are 44 CSV files to create.
=================================

Barcelona data file has been created.
There are 43 CSV files to create.
=================================

England data file has been created.
There are 42 CSV files to create.
=================================

Real Betis data file has been created.
There are 41 CSV files to create.
=================================

Las Palmas data file has been created.
There are 40 CSV files to create.
=================================

Getafe data file has been created.
There are 39 CSV files to create.
=================================

Italy Women's data file has been created.
There are 38 CSV files to create.
=================================

Denmark data file has been created.
There are 37 CSV files to create.
=================================

Tottenham Hotspur Women data file has been created.
There are 36 CSV files to create.
=================================

Deportivo La Coruna data file has been created.
There are 35 CSV files to create.
=================================

Cameroon Women's data file has been created.
There are 34 CSV files to create.
=================================

Thailand Women's data file has been created.
There are 33 CSV files to create.
=================================

Mallorca data file has been created.
There are 32 CSV files to create.
=================================

Arsenal WFC data file has been created.
There are 31 CSV files to create.
=================================

France Women's data file has been created.
There are 30 CSV files to create.
=================================

Netherlands Women's data file has been created.
There are 29 CSV files to create.
=================================

Washington Spirit data file has been created.
There are 28 CSV files to create.
=================================

Gimnàstic Tarragona data file has been created.
There are 27 CSV files to create.
=================================

Sweden Women's data file has been created.
There are 26 CSV files to create.
=================================

Villarreal data file has been created.
There are 25 CSV files to create.
=================================

Sporting Gijón data file has been created.
There are 24 CSV files to create.
=================================

New Zealand Women's data file has been created.
There are 23 CSV files to create.
=================================

Chile Women's data file has been created.
There are 22 CSV files to create.
=================================

Australia data file has been created.
There are 21 CSV files to create.
=================================

Real Zaragoza data file has been created.
There are 20 CSV files to create.
=================================

Panama data file has been created.
There are 19 CSV files to create.
=================================

Eibar data file has been created.
There are 18 CSV files to create.
=================================

North Carolina Courage data file has been created.
There are 17 CSV files to create.
=================================

Argentina Women's data file has been created.
There are 16 CSV files to create.
=================================

Valencia data file has been created.
There are 15 CSV files to create.
=================================

Colombia data file has been created.
There are 14 CSV files to create.
=================================

Espanyol data file has been created.
There are 13 CSV files to create.
=================================

Brazil data file has been created.
There are 12 CSV files to create.
=================================

Germany Women's data file has been created.
There are 11 CSV files to create.
=================================

Nigeria Women's data file has been created.
There are 10 CSV files to create.
=================================

Sevilla data file has been created.
There are 9 CSV files to create.
=================================

Croatia data file has been created.
There are 8 CSV files to create.
=================================

China PR Women's data file has been created.
There are 7 CSV files to create.
=================================

Utah Royals data file has been created.
There are 6 CSV files to create.
=================================

Orlando Pride data file has been created.
There are 5 CSV files to create.
=================================

Manchester United data file has been created.
There are 4 CSV files to create.
=================================

United States Women's data file has been created.
There are 3 CSV files to create.
=================================

Real Murcia data file has been created.
There are 2 CSV files to create.
=================================

Uruguay data file has been created.
There are 1 CSV files to create.
=================================

Tenerife data file has been created.
There are 0 CSV files to create.
=================================

In [20]:
pd.DataFrame(teams).to_csv('./teams_included.csv', index= False)